.goldfinch-google-map {}

.goldfinch-google-map .ggm__frame {
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.goldfinch-google-map .ggm__search {
  margin-bottom: 10px;
}

.goldfinch-google-map .ggm__extrafields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.goldfinch-google-map .ggm__extrafields > div {
  width: calc((100% / 3) - 10px);
}

.goldfinch-google-place {}

.goldfinch-google-place .ggp__preview {
  padding: 0.56rem 1rem 0.672rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #eee;
}

.goldfinch-google-place .ggp__preview ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.goldfinch-google-place .ggp__preview ul li {}
.goldfinch-google-place .ggp__preview ul li:nth-child(n + 2) {
  margin-top: 5px;
}
